MODEL_PROVIDER=groq

GROQ_API_KEY=
GROQ_MODEL=llama-3.1-8b-instant

GEMINI_API_KEY=
GEMINI_MODEL=gemini-1.5-flash

POWER_AUTOMATE_EMAIL_URL=

LANGSMITH_TRACING=false
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=enterprise-ai-copilot

SERPER_API_KEY=